@media only screen and (min-width: 0) and (max-width: 650px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vh;
        background-color: purple
    }


    .container {
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        background-color: #fff;
        width: 80%;
        max-width: 600px;
        text-align: center;
    }

    #calculoTipo {
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        justify-content: center;
    }

    #tipoMatriz {
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        display: block;
    }

    #sistemaLinearDiv {
        text-align: center;
        margin-top: 20px;
    }

    input,
    button {
        display: block;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 22px);
        /* Ajusta a largura para considerar a borda */
        box-sizing: border-box;
        background-color: #fff;
    }

    button {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
        /* Borda para o botão */
    }

    .clearResult {
        cursor: pointer;
        background-color: red;
        color: #fff;
        border: 1px solid red;
        /* Borda para o botão */
    }

    .clearResult:hover {
        background-color: rgb(168, 14, 14);
        border-color: rgb(168, 14, 14);
        /* Muda a cor da borda no hover */
    }

    button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        /* Muda a cor da borda no hover */
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.5em;
        color: #333;
        display: block;
    }
}

@media only screen and (min-width: 650px) and (max-width: 50000px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: purple
    }


    .container {
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 12px;
        background-color: #fff;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }

    #calculoTipo {
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        justify-content: center;
    }

    #matrizTipo {
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        display: block;
    }

    #tipoMatriz {
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        display: block;
    }

    #razaoouproporção {
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        max-width: 200px;
        box-sizing: border-box;
        display: block;
    }


    #sistemaLinearDiv {
        text-align: center;
        margin-top: 5px;
    }

    input,
    button {
        display: block;
        margin: 5px auto;
        margin-bottom: 7px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: calc(100% - 22px);
        /* Ajusta a largura para considerar a borda */
        box-sizing: border-box;
        background-color: #fff;
    }

    button {
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
        /* Borda para o botão */
    }

    button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        /* Muda a cor da borda no hover */
    }

    .clearResult {
        cursor: pointer;
        background-color: red;
        color: #fff;
        border: 1px solid red;
        /* Borda para o botão */
    }

    .clearResult:hover {
        background-color: rgb(168, 14, 14);
        border-color: rgb(168, 14, 14);
        /* Muda a cor da borda no hover */
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1.5em;
        color: #333;
        display: block;
    }

    #resultado {
        border: 1px solid black;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        justify-content: center;
        display: flex;
    }

    label {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}